/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.forms{

    overflow: hidden;
    width:400px;
    height: 600px;
    /* margin: auto; */
    margin-top: 100px;
}
h1{
    margin-bottom: 50px;
    text-align: center;
}